a{
    text-decoration: none;
    color: black;
}

.nav-backcolor{
    background-color: rgb(255, 255, 0);
}
.txt-nav{
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
}
.txt-nav:hover{
    color: black;
    text-decoration: none;
}
.entrance:hover{
    color: white;
}
.register{
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 5px;
    padding: 5px;
    color: black;
    background-color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-left: 15px;
}
.register:hover{
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 5px;
    padding: 5px;
    color: yellow;
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.txt-nameShop{
    color: black;
    font-size: 1.5rem;
}
.div-txt-search{
    text-align: center;
    padding-top: 15px;
}
.txt-search{
    color: grey;
    font-size: 1rem;
    margin-left: 20px;
    text-decoration: none;
}
.txt-search:hover{
    color: yellow;
    font-size: 1rem;
    margin-left: 20px;
    text-decoration: none;
}
.txt-search1{
    color: grey;
    font-size: 1rem;
    text-decoration: none;
}
.txt-search1:hover{
    color: yellow;
    font-size: 1rem;
    text-decoration: none;
}
.border-search{
    border-bottom: 1px solid gray;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.interesting{
    text-align: center;
    font-size: 2rem;
    background-color: yellow;
}

#grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    margin-left: 10px;
}
.margin-card{
    margin-top: 25px;
}
.product-name{
    text-align: center;
    font-size: 1.1rem;
}
.card-price{
    font-size: 1.2rem;
}
.sale{
    text-decoration: line-through;
}
.a-button-buy{
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.a-button-buy:hover{
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 5px;
    padding: 5px;
    color: yellow;
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.margin-price-buy{
    margin-bottom: 10px
}

.entr-html{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
}
.card-entr{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.login-txt{
    margin-top: 15px;
}
.pass-txt{
    margin-top: 15px;
}
.login-button{
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.login-button:hover{
    border-style: solid;
    border-width: 1px 1px;
    border-radius: 5px;
    padding: 5px;
    color: yellow;
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.txt-lorem{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: gray;
    font-size: 0.75rem;
    margin-top: 10px;
}